<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start" >
          <ion-icon name="menu"></ion-icon>
          <ion-menu-button autoHide="false" color="light"></ion-menu-button>
      </ion-buttons>
    <ion-title id="app-header">

        <div class="wdac-container wdac-height-1-1 wdac-flex wdac-flex-middle wdac-padding-x">
          <img src="https://carddate.com/demo/media/carddate-logo.svg" alt="Card.Date" class="cd-logo" />
        </div>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="">
test


</ion-content>
