<app-menu></app-menu>


<ion-content>

    <ion-grid>
        <ion-row *ngIf="userCreated">
            <div class="wdac-container wdac-padding" >
                <p class="wdac-text-center">Add a photo and some more information about yourself!</p>
            </div>
        </ion-row>
        <ion-row class="wdac-container">
            <ion-item>
            <h2 class="uk-align-center">My Profile</h2>
            </ion-item>
            <form class="uk-margin-auto-bottom">
            <div class="form-group">
                <div class="col-sm-12">
                        <ion-icon *ngIf="showPhoto" name="upload" (click)="editPhoto()" size="2x" class="upload-icon"></ion-icon>
                        <!-- Photo Picker -->
                        <amplify-photo-picker-ionic *ngIf="!showPhoto"
                                              path="image"[storageOptions]="{'level': 'private'}" (uploaded)="onImageUploaded($event)">
                        </amplify-photo-picker-ionic>

                </div>
            </div>
                <ion-item>
                    <ion-label position="stacked">Your Username Name</ion-label>
                    <ion-input type="text" name="username" [(ngModel)]="user.username"  placeholder="Username *" ></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Your First Name</ion-label>
                    <ion-input type="text" name="firstName" class="wdac-input cd-margin-right" [(ngModel)]="user.firstName" placeholder="First name *" ></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Your Last Name</ion-label>
                    <ion-input type="text" name="lastName" class="wdac-input cd-margin-right" [(ngModel)]="user.lastName"  placeholder="Last name *" ></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Your Phone Number</ion-label>
                    <ion-input type="number" name="phoneNumber" class="wdac-input cd-margin-right" [(ngModel)]="user.phoneNumber"  placeholder="Phone Number *" ></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Your Bio</ion-label>
                    <textarea type="input" name="bio" class="wdac-input cd-margin-right" [(ngModel)]="user.bio" placeholder="Brief description about your self *"></textarea>
                </ion-item>

                    <button  (click)="updateProfile()" class="wdac-text-lowercase wdac-button">Update Profile</button>
            </form>
        </ion-row>
    </ion-grid>
</ion-content>

