<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-grid>
    <ion-row>
      <ion-title id="app-header">
        <div class="wdac-container wdac-height-1-1 wdac-flex wdac-flex-middle wdac-padding-x">
          <img src="https://carddate.com/demo/media/carddate-logo.svg" alt="Card.Date" class="cd-logo" />
        </div>
      </ion-title>
    </ion-row>

    <ion-row class="header-margin ">
      <a style="color:white;" routerLink="/dashboard">< - Dashboard</a>
    </ion-row>
    <ion-row>
      <ion-avatar class="header-margin cd-avatar">
        <img alt="profile picture" src="./assets/who-is-david-kley-sm.jpg">
      </ion-avatar>
    </ion-row>
  </ion-grid>
</ion-header>
<ion-content>

</ion-content>
