<ion-header>
  <ion-toolbar>
    <ion-title id="app-header">
      <div class="wdac-container wdac-height-1-1 wdac-flex wdac-flex-middle wdac-padding-x">
        <img src="https://carddate.com/demo/media/carddate-logo.svg" alt="Card.Date" class="cd-logo" />
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <div class="container">
    <h2>Profile</h2>
    <form>
      <div class="form-row">
        <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="user.firstName">
      </div>
      <div class="form-row">
        <input type="text" class="form-control" id="lastname" name="firstName" [(ngModel)]="user.lastname">
      </div>
      <div class="form-row">
        <input type="text" class="form-control" id="aboutMe" name="firstName" [(ngModel)]="user.aboutMe">
      </div>
      <div class="form-row">
        <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="user.firstName">
      </div>
    </form>
  </div>

</ion-content>
